<div class="container">
    <div class="row justify-content-center">

        <div class="row">
            <div>
                <h1 class="row justify-content-center">Cliente</h1>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">NOME</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>
            <div class="col-6">
                <label for="">NATUREZA</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>
            <div class="col-6">
                <label for="">IE</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>
            <div class="col-6">
                <label for="">IM</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>
            <div>
                <label for="">CNPJ</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>
        </div>

    </div>
</div>

<address></address>
<contact></contact>
<div class="row">
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
    <hr>
    <div class="col-12">
        <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
    </div>
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
</div>