<div class="pt-3 container">
    <tabset type="pills">
        <tab heading="Clientes">


            <div class="pt-2"></div>
            <div class="p-3" style="background-color: rgb(13,110,253); border:1px solid black; ">
                <div class="p-2" style="background-color: white">
                    <div class="container">
                        <div>
                            <h1 class="row justify-content-center">Cliente</h1>
                        </div>
                        <div class="row" style=" border-radius: 55%;">
                            <div class="col-6">
                                <label for="">NOME</label>
                                <input type="text" class="form-control">
                                <div class="pt-3"></div>
                            </div>
                            <div class="col-6">
                                <label for="">NATUREZA</label>
                                <input type="text" class="form-control">
                                <div class="pt-3"></div>
                            </div>
                            <div class="col-6">
                                <label for="">IE</label>
                                <input type="text" class="form-control">
                                <div class="pt-3"></div>
                            </div>
                            <div class="col-6">
                                <label for="">IM</label>
                                <input type="text" class="form-control">
                                <div class="pt-3"></div>
                            </div>
                            <div>
                                <label for="">CNPJ</label>
                                <input type="text" class="form-control">
                                <div class="pt-3"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <contact></contact>


        </tab>
        <tab heading="Advogados">Pills content 2</tab>
    </tabset>

</div>
