<div class="container">
    <div class="row justify-content-center">

        <div class="row">
            <div>
                <h1 class="row justify-content-center">Valores</h1>
            </div>
            <div class="row">
                <h6>IDENTIFICAÇÃO</h6>
            </div>
            <div class="col-6 justify-content-center">
                <label for="">Descrição</label>
                <input type="text" class="form-control" formControlName="description">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Valor Base</label>
                <input type="text" class="form-control" formControlName="baseValue">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Correção Monetária</label>
                <input type="text" class="form-control" formControlName="monetaryCorrection">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Juros</label>
                <input type="text" class="form-control" formControlName="interest">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Multa</label>
                <input type="text" class="form-control" formControlName="paymentFine">
                <div class="pt-3"></div>
            </div>
            <div class="col-6 justify-content-center">
                <label for="">Valor Atualizado</label>
                <input type="text" class="form-control" formControlName="updatedValue">
                <div class="pt-3"></div>
            </div>

        </div>

    </div>
</div>

<div class="row">
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
    <hr>
    <div class="col-12">
        <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
    </div>
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
</div>