<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <div  id="menu" class="navbar-toggler-icon" (click)="toggleCollapsed()"></div>



  </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" style="color: white;">
            <div class="pt-3"></div>
            <a class="navbar-brand" href="#"><img src="../assets/semfundo.png" alt="" style="width:70px; height: 50px;"></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-menu-width">Agenda</button>
                </li>
                <div class="space-beteween"></div>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-menu-width">Advogados</button>
                </li>
                <div class="space-beteween"></div>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-menu-width">Cadastros</button>
                </li>
                <div class="space-beteween"></div>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-menu-width">TESTES</button>
                </li>
            </ul>

            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Processos..." aria-label="Search" style="float: right;">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</nav>