<div class="container">
    <div class="row justify-content-center">
        <div class="row">
            <h6>ENDEREÇO</h6>
        </div>
    </div>

    <div class="row justify-content-center" [formGroup]="_ValGlobal._FormAddress">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>CEP:</label>
                    <input type="text" class="form-control" formControlName="cep" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('cep', this._ValGlobal._FormAddress)}">
                    <!-- (blur)="query($event.target.value)" -->
                </div>

                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('cep', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('cep', 'minlength' ,'Preenchimento, mínimo de pelo menos 3 caracteres', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('cep',
                    'maxlength' ,'Preenchimento não pode ultrapassar 150 caracteres.', this._ValGlobal._FormAddress)}}
                </div>
            </div>
            <div class="pt-3"></div>
            <div class="col-10">
                <div class="form-group">
                    <label>Logradouro:</label>
                    <input type="text" class="form-control" formControlName="logradouro" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('logradouro', this._ValGlobal._FormAddress)}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Número:</label>
                    <input type="text" class="form-control" formControlName="numero" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('numero', this._ValGlobal._FormAddress)}">
                </div>
                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('numero', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('numero', 'minlength' ,'Preenchimento, mínimo de pelo menos 1 caracteres', this._ValGlobal._FormAddress)}}
                    {{_ValGlobal.commonValidations('numero', 'maxlength' ,'Preenchimento não pode ultrapassar 7 caracteres.', this._ValGlobal._FormAddress)}}
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label>Complemento:</label>
                    <input type="text" class="form-control" formControlName="complemento" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('complemento', this._ValGlobal._FormAddress)}">
                </div>

                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('complemento', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('complemento', 'minlength' ,'Preenchimento, mínimo de pelo menos 2 caracteres', this._ValGlobal._FormAddress)}}
                    {{_ValGlobal.commonValidations('complemento', 'maxlength' ,'Preenchimento não pode ultrapassar 50 caracteres.', this._ValGlobal._FormAddress)}}
                </div>
            </div>
            <div class="col-12">


                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('logradouro', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('logradouro', 'minlength' ,'Preenchimento, mínimo de pelo menos 5 caracteres', this._ValGlobal._FormAddress)}}
                    {{_ValGlobal.commonValidations('logradouro', 'maxlength' ,'Preenchimento não pode ultrapassar 15 caracteres.', this._ValGlobal._FormAddress)}}
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Bairro:</label>
                    <input type="text" class="form-control" formControlName="bairro" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('bairro', this._ValGlobal._FormAddress)}">
                </div>
                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('bairro', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('bairro', 'minlength' ,'Preenchimento, mínimo de pelo menos 2 caracteres', this._ValGlobal._FormAddress)}}
                    {{_ValGlobal.commonValidations('estado', 'maxlength' ,'Preenchimento não pode ultrapassar 3 caracteres.', this._ValGlobal._FormAddress)}}
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label>Cidade:</label>
                    <input type="text" class="form-control" formControlName="cidade" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('cidade', this._ValGlobal._FormAddress)}">
                    <div class="invalid-feedback">
                        {{_ValGlobal.commonValidations('cidade', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('cidade', 'minlength' ,'Preenchimento, mínimo de pelo menos 2 caracteres', this._ValGlobal._FormAddress)}}
                        {{_ValGlobal.commonValidations('cidade', 'maxlength' ,'Preenchimento não pode ultrapassar 50 caracteres.', this._ValGlobal._FormAddress)}}
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>Estado:</label>
                    <input id="estado" type="text" class="form-control" formControlName="estado" [ngClass]="{'is-invalid': _ValGlobal.touchedErrors('estado', this._ValGlobal._FormAddress)}">
                </div>
                <div class="invalid-feedback">
                    {{_ValGlobal.commonValidations('estado', 'required' ,'Preenchimento obrigatório!', this._ValGlobal._FormAddress)}} {{_ValGlobal.commonValidations('estado', 'maxlength' ,'Não pode ultrapassar, 3 caracteres.', this._ValGlobal._FormAddress)}}
                </div>
            </div>
        </div>
    </div>
</div>