<div class="pt-3 container">
    <tabset type="pills">
        <tab heading="Previsão">
            <result-forecast-create>
            </result-forecast-create>
        </tab>
        <!-- <tab heading="Compromisso">
            <appointment></appointment>
        </tab>
        <tab heading="Escritório">
            <office-create></office-create>
        </tab>

        <tab heading="Advogado">
            <lawyers-create></lawyers-create>
        </tab>
        <tab heading="Cliente">
            <client-create></client-create>
        </tab>
        <tab heading="Processo">
            <folder-process-create>
            </folder-process-create>
        </tab>
        <tab heading="Valores">
            <values-create>
            </values-create>
        </tab>
        <tab heading="Objetos Pedidos" [routerLink]="['/obj']">
            <router-outlet></router-outlet>
            <requested-object>
            </requested-object>
        </tab>
 -->

    </tabset>
</div>
