<div class="container">
    <form class="row" [formGroup]="form">


        <div class="col-6">
            <label>Objeto</label>
            <input class="form-control" formControlName="item">
        </div>
        <div class="row pt-3 ">
            <div class="col">
                <button class="btn btn-success" (click)="addControls()">Add Pedido</button>
            </div>
        </div>

        <div formArrayName="requesteds" *ngFor="let _sN of getControls.controls; let i = index;">

            <div [formGroupName]="i" class="row">
                <!-- (change)="valueSocialNetName($event)" -->


                <div class="col-6">
                    <label>Pedido{{' ' +(i+1)}}</label>
                    <input class="form-control" formControlName="itemRequested">
                </div>
                <div class="row pt-3 ">
                    <div class="col">
                        <button class="btn btn-danger" (click)="removeControls(i)">Remover Pedido</button>
                    </div>
                </div>

            </div>

            <!-- style="width:14%; height: 50%;" -->
        </div>

        <div class="row pt-3 " style="float: right;">
            <div class="col-6" style="float: right;">
                <button style="float: right;" class="btn btn-primary">Salvar</button>
            </div>
        </div>


        <!--

        <label>OBJETO</label>
        <input type="text" class="form-control" formControlName="item" style="width:50%;">



        <div formArrayName="requests" *ngFor="let r of getControls.controls let i = index">
            eeeeeeeeeeeeeeeeeeeeeeeeee





            <div [formGroupName]="i">
                <div>

                    <div>
                        <label>Pedido</label>
                        <input type="text" class="form-control" formControlName="itemRequested">
                    </div>
                    <button class="btn btn-primary">Remover</button>
                </div>

            </div>

        </div> -->
    </form>
</div>
