<div class="pt-3 container">
    <tabset type="pills">
        <tab heading="Previsão">
            <result-forecast-create>
            </result-forecast-create>
        </tab>
        <tab heading="Compromisso">
            <appointment></appointment>
        </tab>
        <tab heading="Escritório">
            <office-create></office-create>
        </tab>

        <tab heading="Advogado">
            <lawyers-create></lawyers-create>
        </tab>
        <tab heading="Cliente">
            <client-create></client-create>
        </tab>
        <tab heading="Processo">
            <legal-process-create>
            </legal-process-create>
        </tab>


    </tabset>
</div>
