<div class="container">
    <div class="row">
        <div>
            <h1 class="row justify-content-center">Compromisso</h1>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-6 justify-content-center">
                    <label for="Assunto">Advogado</label>
                    <input class="form-control" type="text">
                </div>
                <div class="col-6 justify-content-center">
                    <label for="Assunto">Processo</label>
                    <input class="form-control" type="text">
                </div>
            </div>

        </div>
        <div class="col-12 justify-content-center">
            <label for="Assunto">Assunto</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-12 justify-content-center">
            <label for="Assunto">Local</label>
            <input class="form-control" type="text">
        </div>
        <div class="container">

            <div class="row">
                <div class="col-6 justify-content-center">
                    <label for="Assunto">Inicio</label>
                    <input class="form-control" type="text">
                </div>
                <div class="col-6 justify-content-center">
                    <label for="Assunto">Fim</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 justify-content-center">
                    <label for="Assunto">Observações</label>
                    <textarea class="form-control"></textarea>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <!-- space -->
        <div class="pt-3"></div>
        <!-- space -->
        <hr>
        <div class="col-12">
            <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
        </div>
        <!-- space -->
        <div class="pt-3"></div>
        <!-- space -->
    </div>

</div>
