<div style="height: auto; width: auto; border: 1px solid black;">
    <div style="height: 50px; text-align: center;">
        <div style="color: black; border-bottom: 1px solid black;">
            <h1>CONTATOS</h1>
        </div>
    </div>
    <br>




    <form [formGroup]="this._ValidationMsg._FormContact">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <label>Email:</label>
                    <input type="text" class="form-control" formControlName="email">


                </div>
                <div class="col-6">
                    <label>Site:</label>
                    <input class="form-control" formControlName="site" [ngClass]="{'is-invalid': _ValidationMsg.touchedErrors('site', this._ValidationMsg._FormContact)}">
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="form-group ">
                        <label>WhatsApp</label>
                        <input class="form-control" formControlName="zap">
                    </div>

                </div>

                <div class="col-4">
                    <div class="form-group ">
                        <label> Celular:</label>
                        <input class="form-control" formControlName="cel">
                    </div>

                </div>

                <div class="col-4">
                    <div class="form-group ">
                        <label>Tel. Fixo:</label>
                        <input class="form-control" formControlName="landline">
                    </div>

                </div>
            </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="form-group ">
                        <i class="fas fa-share-alt"></i>
                        <input #nameFiled class="form-control" id="socialnetName" (change)="valueSocialNetName($event)">
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group ">
                        <i class="fas fa-link"></i>
                        <input #urlFIeld class="form-control" id="socialnetUrl" (change)="valueSocialNetUrl($event)">
                    </div>

                </div>
            </div>

        </div>


        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" style="background-color: black; color: white; float: right;" (click)="urlFIeld.value=''" (click)="nameFiled.value = ''" (click)="SocialNetAdd()">Add</button>
                    </div>
                </div>
            </div>
            <div class="container" style="width: 650px; border: 1px solid black; " *ngIf="_ValidationMsg._socialNetworks.length > 0">
                <div id="socialNetDiv" formArrayName="socialnetworks">
                    <div *ngFor="let _sN of _ValidationMsg._socialNetworks let i = index" class="pl-5 pt-3">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="m-1">
                                        <label>Rede Social</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>{{_sN.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="m-1">
                                        <label>URL:</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>{{_sN.url}}</label>
                                </div>

                            </div>
                        </div>
                        <hr>

                        <button class="btn btn-danger" (click)="SocialNetRemover(i)">Remover</button>
                    </div>
                    <br>
                </div>


            </div>


        </div>

        <br>
    </form>
</div>
