<div class="container">
    <div class="row justify-content-center ">
        <div>
            <h1 class="row justify-content-center">ADVOGADO</h1>
        </div>
        <div class="row  justify-content-center " style=" border-radius: 55%;">
            <div class="row">
                <h6>IDENTIFICAÇÃO</h6>
            </div>
            <div class="row">

                <div class="col-12">
                    <label for="">NOME</label>
                    <input type="text" class="form-control">
                    <div class="pt-3"></div>
                </div>




                <div class="col-6">
                    <label for="">RG</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">CPF</label>
                    <input type="text" class="form-control">
                </div>


                <div class="pt-3"></div>
                <div class="col-6">
                    <label for="">Sexo</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">Tratamento</label>
                    <input type="text" class="form-control">
                </div>

                <div class="col-6 mt-4">
                    <label for="">Estado Civil</label>
                    <select class="form-select" size="1">
        <option value="married">Casado</option>
        <option value="single">Solteiro</option>
      </select>
                </div>
                <div class="col-6 pt-4">
                    <label for="">Data de Nascimento</label>
                    <input type="date" class="form-control">
                </div>
                <div class="pt-3"></div>
                <div class="col-6">
                    <label for="">Ocupação</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">OAB</label>
                    <input type="text" class="form-control">
                </div>



            </div>
            <div class="pt-3"></div>

            <div class="row">
                <h6>CTSP</h6>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="">Número</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">Série</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="pt-3"></div>
        </div>
    </div>
</div>
<div class="row">
    <address></address>
    <contact></contact>
</div>
<div class="row">
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
    <hr>
    <div class="col-12">
        <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
    </div>
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
</div>