<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1 class="row justify-content-center">ESCRITÓRIO</h1>
        </div>
        <div class="row">
            <div class="row">
                <h6>IDENTIFICAÇÃO</h6>
            </div>
            <div class="col-12">
                <label for="name">Nome</label>
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
</div>
<address></address>
<contact></contact>
<div class="row">
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
    <hr>
    <div class="col-12">
        <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
    </div>
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
</div>
