<div class="container">
    <div class="row justify-content-center">

        <div class="row">
            <div>
                <h1 class="row justify-content-center">Processo</h1>
            </div>
            <div class="row">
                <h6>IDENTIFICAÇÃO</h6>
            </div>
            <div class="col-6 justify-content-center">
                <label for="">NÚMERO DA PASTA</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">TODAS AS PARTES</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">AÇÃO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">NATUREZA</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">FASE</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Nº INICIAL</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">Nº PRINCIPAL</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">CONTRATO/NEGOCIAÇÃO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">RISCO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">STATUS</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">ESCRITÓRIO DE ORIGEM</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">CLIENTE</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">POSIÇÃO DO CLIENTE</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">ADVOGADO RESPONSÁVEL</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">PARTE CONTRÁRIA</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">ORGÃO INICIAL</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">ORGÃO PRINCIPAL</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">CENTRO DE CUSTO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">DATA DE DISTRIBUIÇÃO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>

            <div class="col-6 justify-content-center">
                <label for="">DATA DO TRANSITO EM JULGADO</label>
                <input type="text" class="form-control">
                <div class="pt-3"></div>
            </div>





        </div>

    </div>
</div>

<div class="row">
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
    <hr>
    <div class="col-12">
        <button type="button" class=" btn btn-success" style="float: right; width: 30%;">Salvar</button>
    </div>
    <!-- space -->
    <div class="pt-3"></div>
    <!-- space -->
</div>
